@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  
}

/*com display: flex no body, centraliza conteudo com
 align-items e justyfi-contente*/


/* body{
  
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  overflow: hidden;
  color: white;
} */


/*define o tamanho e o tipo de display*/
.container{
  display: flex;
  width: 90vw;
}



.panel{
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh; /* altura da div*/
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5; /*largura para cada div*/
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3{
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  
}

.panel.active{
  flex: 5; /*div ativa tem largura*/
}

.painel.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px){
  .container, .container2{
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .painel:nth-of-type(5){
    display: none;
  }
}


/*----------------------------------------*/

/*define o tamanho e o tipo de display*/
.container2{
  margin-top: 50px;
 
  width: 90vw;
  border: 1px solid red;
}

.panel2{
  background-size:100%;
  background-repeat: no-repeat;
  height: 10vh; /* altura da div*/
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  max-width: 100%;
  margin: 10px;
  position: relative;
  transition: height 0.7s ease-in;
  border: 1px solid rgb(131, 133, 136);

}

.panel2 h3{
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  
}

.panel2.active2{
  height: 30vh /*div ativa tem altura*/
}

.painel2.active2 h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
